header {
  position: sticky;
  top: 0;
  background-color: white;
  color: black;
  text-align: center;
  z-index: 1000;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.sticky {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  margin-left: 10%;
}

a img {
  height: 40px;
  transition: transform 0.3s ease;
}

a:hover img {
  transform: scale(1.1);
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle img {
  width: 35px;
  height: 35px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  font-size: 1.3rem;
  color: rgb(16, 76, 156);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.navbar a::after {
  content: "";
  display: block;
  height: 2px;
  background-color: rgb(16, 76, 156);
  width: 0;
  transition: width 0.3s;
  position: absolute;
  left: 50%;
  bottom: 4px;
  transform: translateX(-50%);
}

.navbar a:hover {
  color: rgb(16, 76, 156);
  font-weight: bold;
}

.navbar a:hover::after {
  width: 100%;
}

@media (max-width: 680px) {
  .menu-toggle {
    display: block;
  }
  a img {
    height: 35px;
    transition: transform 0.3s ease;
  }
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .navbar.active ul {
    display: flex;
  }

  .navbar li {
    margin: 5px 0;
  }
}

@media (max-width: 680px) {
  .navbar {
    padding: 5px 20px;
    margin-right: 25px;
  }

  .a img {
    height: 30px;
    transition: transform 0.3s ease;
  }
  .menu-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .navbar.active ul {
    display: flex;
  }

  .navbar li {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .navbar li a {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  a img {
    height: 25px;
    transition: transform 0.3s ease;
  }

  .navbar {
    padding: 5px 10px;
  }

  .navbar li {
    margin: 5px 0;
  }

  .navbar li a {
    padding: 8px;
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .logo {
    margin-left: 5%;
  }

  a img {
    height: 20px;
    transition: transform 0.3s ease;
  }

  .navbar {
    padding: 5px 5px;
  }

  .navbar li {
    margin: 4px 0;
  }

  .navbar li a {
    padding: 6px;
    font-size: 0.9rem;
  }
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  padding: 20px;
  margin: 20px;
  justify-content: space-between;
  width: 70%;
  margin-top: 0px;
}

.content h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 600;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.content a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  border: 2px solid #fff;
  padding: 14px 40px;
  border-radius: 30px;
  margin-top: 50px;
  transition: background-color 0.3s, border-color 0.3s;
}

.content a:hover {
  background-color: #1e90ff;
  border-color: #1e90ff;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  margin-top: 10px;
}
.character-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 45%;
}

.character img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.character p {
  margin: 0;
}

.card h2 {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  color: rgb(16, 76, 156);
  margin-bottom: 20px;
}

.card p {
  text-align: justify;
  font-size: 20px;
  color: #094c9e;
  margin-top: 10px;
  line-height: 1.8;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}

main {
  display: relative;
  margin: 0;
  padding: 0px;
}

.home {
  height: 100vh;
  transition: background-image 1s ease-in-out;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title-logo {
  color: white;
  text-align: center;
  position: absolute;
  top: 100px;
  width: 489px;
  height: 140px;
}

.home img {
  width: 100%;
  height: auto;
  max-width: 489px;
  filter: drop-shadow(0 0 10px rgba(174, 255, 255, 0.8));
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  border: 2px solid rgb(16, 76, 156);
  border-radius: 15px;
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(16, 76, 156);
  text-decoration: none;
}

.button i {
  margin-right: 8px;
  font-size: 1.2em;
  transition: transform 0.3s ease;
}

.button:hover {
  background-color: rgb(16, 76, 156);
  border: 2px solid rgb(255, 255, 255);
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.button:hover i {
  transform: scale(1.2);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

audio {
  display: none;
}

.home h1 {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-top: 20vh;
}

.home a {
  position: relative;
  font-weight: bolder;
  font-size: larger;
  color: rgb(16, 76, 156);
  font-family: "Noto Serif JP", serif;
  z-index: 1;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: color 0.4s ease, box-shadow 0.4s ease;
}

article {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  max-width: 100%;
}

article h2 {
  font-size: 1.5rem;
  color: #094c9e;
}

article p {
  font-size: 1rem;
  color: #333;
  margin-top: 10px;
  line-height: 1.8;
}

#movie.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
}

#movie iframe {
  flex-grow: 1;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: none;
}

.top-page {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.top-page img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.top-page img:hover {
  transform: scale(1.1);
}

aside {
  position: absolute;
  right: 0;
  width: 25%;
  padding: 20px;
}

.profile-aside {
  justify-content: center;
}
figcaption {
  text-align: center;
  font-size: 1rem;
  color: rgb(16, 76, 156);
  margin-top: 10px;
  line-height: 1.8;
  font-weight: bold;
}

.profile-aside img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

.profile-aside h3 {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  color: rgb(16, 76, 156);
  margin-bottom: 20px;
}

.profile-aside p {
  text-align: justify;
  font-size: 20px;
  color: #094c9e;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-top: 20px;
  }

  article {
    max-width: 100%;
  }
}

.silent-sound {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

.silent-sound img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.silent-sound img:hover {
  transform: scale(1.1);
}

#silentIcon,
#unsilentIcon {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
  display: none;
}

#silentIcon:hover,
#unsilentIcon:hover {
  transform: scale(1.05);
}

.top-page {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.top-page.show {
  opacity: 1;
  transform: translateY(0);
}

.top-page img {
  width: 60px;
  height: auto;
  transition: transform 0.3s;
}

.top-page img:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
  background-color: #094c9e;
  padding: 20px;
  color: white;
}

footer p {
  text-align: center;
  margin-bottom: 10px;
}

footer ul {
  justify-content: center;
  list-style: none;
  display: flex;
  justify-content: center;
}

footer li {
  justify-content: center;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

footer a:hover {
  color: white;
  font-weight: bolder;
}

@media (max-width: 1420px) {
  main {
    padding: 0;
  }
  .navbar {
    padding: 5px 20px;
  }
  .home {
    padding: 0;
  }
  .content {
    flex-direction: column;
    width: 100%;
  }

  aside {
    position: relative;
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
  }

  article {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .content {
    padding: 15px;
  }

  .navbar {
    padding: 5px 15px;
  }

  aside {
    padding: 10px 0;
  }

  article {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5px 10px;
  }

  .content {
    padding: 10px;
  }

  aside {
    padding: 10px 0;
    width: 100%;
  }

  article {
    padding: 10px;
  }
}
